body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    position: relative;
}


main {
    padding: 20px;
}

.rules-section {
    margin-bottom: 20px;
}

h1,
h2 {
    color: #E6007E;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 8px;
}



.lower-right-image {
    position: absolute;
    bottom: 60px;
    right: 0;
    z-index: -1;
}

.upper-left-image {
    position: absolute;
    top: 30;
    /* Add "px" here */
    left: 0;
    z-index: -1;
}